* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 32px;
    font-family: "Outfit", sans-serif;
    background-color: hsl(214.62, 46.43%, 89.02%);
}


article {
    background-color: hsl(0, 0%, 100%);
    max-width: 300px;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}

article img {
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 10px;

}


article div {
    padding:  0 16px;
}
article h1 {
    text-align: center;
    color: hsl(218, 44%, 22%);
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
    padding-top: 32px;
}

article p {
    text-align: center;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    padding-bottom: 32px;
}



footer {
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 32px;
}

footer a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1440px) {


    article {
        max-width: 320px;
    }
}